<h1>{{ recipe?.name }} <i class="fas fa-leaf" *ngIf="recipe?.vegetarian"></i></h1>
<h2>Calorias: {{recipe?.calories}} Kcal <i data-toggle="tooltip" title="Hay ingredientes que no se han tenido en cuenta para el calculo" class="fas fa-exclamation" id="warning-mark" *ngIf="recipe?.warnings.length > 0"></i></h2>

<div id="ingredients" class="float-sm-left mx-5">
  <h2>Ingredientes</h2>
  <ul>
    <li *ngFor="let recipeIngredient of ingredientAmounts">{{ recipeIngredient.amount }} {{ recipeIngredient.amountType }} de {{ recipeIngredient.ingredient.name }}</li>
  </ul>
</div>

<div id="preparation" class="float-xl-left mx-5">
  <h2>Preparación</h2>
  <div *ngFor="let step of recipe?.steps; let i = index" class="preparation-step my-2">
    Paso {{i + 1}}
    <p>Necesitaremos:</p>
    <ul>
      <li *ngFor="let ingredient of step.recipeIngredientsToAdd">{{ingredient.amount}} {{ingredient.amountType}} de {{ingredient.ingredient.name}}</li>
    </ul>

    <div *ngIf="step.usesThermomix; then thermomixStep else noThermomixStep"></div>
    <ng-template #thermomixStep>
      Usamos el modo {{step.action}} durante {{step.time}} {{step.timeUnit}} {{ step.speed ? 'a velocidad ' + step.speed : '' }} {{ step.temperature ? 'a temperatura ' + step.temperature : '' }}
    </ng-template>

    <ng-template #noThermomixStep>
      {{step.description}}
    </ng-template>
  </div>
</div>
